<% if controller_name=='homepage' %>
  <div class="image-masthead">
<% else %>
  <div class="image-masthead shortstack">
<% end %>

<div class="col-sm-6 logo_image">
  <%= image_tag "DigitalWPILogo_2019.png" %>
</div>

<%= render 'shared/exhibit_navbar' %>
<!-- Brand and toggle get grouped for better mobile display -->
<div class="large-header-nav col-sm-6 col-sm-offset-3 search-holder">
  <h3>Explore, Discover, Share</h3>
  <%= render partial: 'catalog/search_form' %>
</div>
</div>


</div>
