$light-gray: lightgray;

div.wpi-citation-modal {
  h4 {
    text-align: left;
  }

  .cite {
    margin: 0 15px;
    text-align: left;
  }

  ul {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $light-gray;
  }
}

.creator-affiliates {
  display: inline-block;
}

.browse-category {
  min-width: 150px;
  min-height: 150px;
}

.image-masthead.shortstack {
  height: 250px;
}

.image-masthead .background-container {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: auto;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 0px;
  filter: blur(0px);
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
}

a {
  color:#2e74b2;
  text-decoration:none;
  background-color:transparent;
  &:hover {
    color:#23527c;
    text-decoration:underline;
  }
}

.home_search #search_field {
  display:none;
}
